* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav{
  background-color: rgb(66, 66, 66);
  padding: 10px 20px;
  color: whitesmoke;
  display: flex;
  align-items: center;
}

ul a {
  color: whitesmoke;
  text-decoration: none;
}

ul li {
  list-style-type: none;
  margin: 15px;
}

a:hover {
 color: yellow;
}

ul {
  display: flex;
  justify-content: flex-end;
}

h1 {
  flex:1;
}

.btn {
  width: 80px;
  border: black;
  box-shadow: 10px 5px 5px black;
  background-color: cornflowerblue;
  color: aliceblue;
}
