* {
  margin: 0;
  padding: 0;
}

.container {
  width: 950px;
  height: 600px;
  background-color: silver;
  margin: 0px auto;
  padding: 5px;
}

.top-nav {
  width: 95%;
  height: 110px;
  background-color: green;
  margin: 15px;
}

.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  display: inline-block;
  margin: 5px 15px;
}

.main {
  height: 440px;
  width: 680px;
  background-color: red;
  display: inline-block;
  position: absolute;
  margin: 5px;
}

.sub-content {
  height: 200px;
  width: 200px;
  background-color: yellow;
  display: inline-block;
  margin: 20px 10px 10px 10px;
}

#advertisement {
  height: 110px;
  width: 650px;
  background-color: purple;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 20px;
}